<div class="header">
  <img
    class="bookbliss-logo"
    src="../assets/images/bookbliss-logo.png"
    alt="Logo"
  />
  <div class="navs">
    <div class="location">
      <img
        class="loc-pin"
        src="../assets/icons/location-pin.png"
        alt="Location Pin"
      />
      <p>{{ location }}</p>
    </div>
    <div class="nav-btns">
      <ul>
        <li><a (click)="openLoginModal()">LOGIN</a></li>
        <li><a (click)="openRegisterModal()">REGISTER</a></li>
      </ul>
    </div>
  </div>
</div>

<app-homepage *ngIf="homepageRenderFlag"></app-homepage>

<div class="rendered-component">

</div>
