<div class="header">
  <img
    class="hamburger-icon clickable"
    src="../assets/icons/menu-burger_3917762.svg"
    alt="Menu Icon"
  />
  <img
    class="bookbliss-logo clickable"
    src="../assets/images/bookbliss-logo.png"
    alt="Logo"
  />
  <div class="navs">
    <div class="location clickable">
      <img
        class="loc-pin"
        src="../assets/icons/location-pin.png"
        alt="Location Pin"
      />
      <p>{{ location }}</p>
    </div>
    <div class="nav-btns">
      <ul>
        <li><a class="clickable" (click)="openLoginModal()">LOGIN</a></li>
        <li><a class="clickable" (click)="openRegisterModal()">REGISTER</a></li>
      </ul>
    </div>
  </div>
</div>

<app-homepage *ngIf="homepageRenderFlag"></app-homepage>

<router-outlet></router-outlet>
<div class="rendered-component">

</div>
